.editOptions {
    display: grid;
    grid-template-areas: "color text sticker";
    justify-content: space-around;
}

.editOptions > div {
    background-color: white;
    border-radius: 2em;
    padding: 1em 2em;
    margin-top: 1em;
}

.editOptions > div:hover {
    background-color: rgb(243, 138, 0);
    cursor: pointer;
}

.color{
    grid-area: color;

}

.text {
    grid-area: text;
}

.sticker {
    grid-area: sticker;
}

.editColor, .editText {
    margin: 2em;
}

.font-size, .font-angle{
    width: 45px;
}


.color.active,
.text.active,
.sticker.active {
  background-color: rgb(255, 158, 67); /* Or any color you prefer */
}